<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<style>
.date-box {
    padding: 1px 12px 0;
    color: #00a287;
}

.date-box-week {
    line-height: 20px;
    display: inline-block;
}

.date-box-month {
    /*color: #00a287;*/
}

.date-box-day {
    font-size: 44px;
    font-weight: 500;
    display: inline-block;
    margin-left: 3px;
}

.date-selected{
    color: white;
    background-color: #00a287;
}
.card{
    max-width:150px;
}
/*
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
</style>

<div class="card-group">
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block date-selected">
     <div class="date-box date-selected">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
  <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
   <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
   <div class="card card-outline-primary text-center">
  <div class="card">
   
    <div class="card-block">
     <div class="date-box">
                                <div class="date-box-week">
                                    <strong>Tue</strong>
                                    <div class="date-box-month">Jun</div>
                                </div>
                                <div class="date-box-day">6</div>
                                <div style="height: 5px;"></div>
                                    </div>
    </div>
  </div>
  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>